html {

	color: #0c0c0e;
	background-color: #b8eecd;
}
p {
	color: rgb(236, 9, 9);
  }

h1 {
	color: #030303;
	background-color: #bbd2d6;
	
}
	h3 {
		color: #0a0a0a;
		background-color: #e9cfcf;
	}




